<html>
    <head>
        <title>Pokemon Builder</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/pokemon.css">
    </head>
    <body>
        <h1>READY TO BUILD POKEMON? TRAINER: <%= name %></h1>
        <form action="/pokemon-builder/addToUserTeam?name=<%= name %>", method="POST">
            <select name="pokemon-151">
                <option value="">Select a Pokemon</option>
                <% for(let i = 0; i < pokemon.length; i++){ %>
                    <option value="<%= pokemon[i] %>"><%= pokemon[i]%></option>
                <% } %>
            </select>
            <input type="submit">
        </form>
        <section>
            <% for(let i = 0; i < chosenPokemon.length; i++) { %>
                <div><%= chosenPokemon[i] %><img class="pokeImage"></div>
            <% } %>
        </section>
        <script src="js/pokemon.js"></script>
    </body>
    
</html>